/*GENERALES*/
*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif, Helvetica, Arial;
}

a{
    color: #01B1EA;
}

a:visited{
    color: #01B1EA;
}

a:hover{
    color: #555555;
}

.alert_green{
    color:green;
}

.alert_red{
    color:red;
}

.subtitle{
    color: #01B1EA;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 1px;
    font-family: 'Open Sans', Helvetica, Arial;
    text-transform: uppercase;
    text-shadow: 0px 1px 1px #222222;
}

table{
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #ccc;
}

td{
    border-top: 1px solid #ccc;
    padding: 2px;
}

.thumb{
    width: 100px;
}

/* MAIN CONTAINER */
#mainContainer{
    width: 80%;
    margin: 0px auto;
    box-shadow: 0px 0px 10px gray;
    background: white;

}

.button-gestion{
    margin-bottom: 10px;
}

.button-red{
    background: red;
    border: 1px solid orange;
}